@model List<ClinicWebsite_Team1.Models.doctor>

<h2>Manage Doctors</h2>

<p>
    <a href="@Url.Action("CreateDoctor")"
       class="btn btn-success">
        Add Doctor
    </a>
</p>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specialty</th>
        <th>Experience</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var d in Model)
    {
        <tr>
            <td>@d.id</td>
            <td>@d.user_account.full_name</td>
            <td>@(d.specialty != null ? d.specialty.name : "No Specialty")</td>
            <td>@d.experience_years</td>
            <td>@d.status</td>

            <td>
                <a href="@Url.Action("EditDoctor", new { id = d.id })"
                   class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="@Url.Action("DeleteDoctor", new { id = d.id })"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>

            </td>
        </tr>
    }
</table>